<% if (page.ancestors.length > 0) { %><ol class="breadcrumb">
<% page.ancestors.forEach(ancestor => { %>
	<li><a href="<%= ancestor.url %>"><%= ancestor.title %></a></li>
<% }) %>
<li><%= page.title %></li>
</ol><% } %>
